@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@media(max-width:760px){
    .back_card{
        width: 53% !important;
    }
    .card_elem{
            width: 80% !important;
    }
    .menu>li{
        font-family: 'Lato', sans-serif;
    color: black;
    font-size: 2em;
    background-color: #4e5680;
    width: 100%;
    text-align: center;
    padding-top: 1em;
    border: 1px solid;
    font-weight: bold;
    height: 65px;
    }
    .div_bur,.div_bur::after,.div_bur::before{
        width: 3em;
    position: absolute;
    background-color: black;
    height: 0.5em;
        transition-duration: 200ms;
    border-radius: 4px;
       right: 0;
    
    margin-top: 1px;
        
        
    }
    
    .div_bur{
       margin-right: 32px; 
    }
    #ch{
        display: none;
    }
    .nav_m{
        display: none;
    }
    #ch:checked ~ .nav_m{
        display: block;
    }
    #ch:checked + .ch_l>.div_bur{
        transform: rotate(45deg);
        
    }
    
    #ch:checked + .ch_l>.div_bur::after{
transform: rotate(90deg);
         margin-top: 0px;
    }
    #ch:checked + .ch_l>.div_bur::before{
     transform: rotate(90deg);
         margin-top: 0px;
        
    }
    .div_bur::after{
        content: '';
        margin-top: 13px;   
    }
     .div_bur::before{
        content: '';
        margin-top: -13px;   
    }
    .grop_pic{
        margin-top: 0px !important; 
    }
    .im_g{
        margin-top: 50px;
        width: 100% !important;
    }
    .nav_m{
            padding-top: 99px;
    width: 100%;
    height: 49px;
        margin-left: 0px;
    }
    .menu{
        list-style-type: none;
    display: flex;
    padding-left: 0px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    }
    .top_h{
        background-color: #131e56bf;
    position: fixed;
    height: 5em;
    width: 100%;
    
    align-items: center;
    }
    
    .logo{
        display: none;
    }
    .top_butt:hover {
    width: 60% !important;
  
}
    
}

/**********************************/
.img_mas{
        width: 68%;
    margin-left: 10px;
    transition-duration: 300ms;
    margin-top: 4px;
}
.massage{
        width: 100%;
        display: flex;
        border: 0px;
  /*  border-bottom: 2px solid;*/
}
.btn{
  position: relative;
  display: block;
  color: white;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin: auto;
  border: 2px solid #ff7675;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.btn::before{
  background: #ff7675;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
 
  z-index: -1;
  transition: all 0.6s ease;
    width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
    
}

.btn:hover::before{
  height: 380%;
}
.header_gal{
    position: absolute;
    bottom: 13%;
    opacity: 0;
    left: 9%;
    font-family: Helvetica;
        transition-duration: 200ms;
    font-size: 2em;
    font-weight: bold;
}
.opis{
        position: absolute;
    bottom: 10%;
    font-size: 1em;
    left: 9%;
    transition-duration: 200ms;
font-family: Helvetica;
    opacity: 0;
}
.b_pic{
        position: absolute;
    bottom: 0%;
    left: 9%;
    opacity: 0;
        transition-duration: 200ms;
    font-family: Helv;
}
.img_gal:hover .header_gal{
   bottom: 23%;
    opacity: 1;
}

.img_gal:hover .b_pic{
   bottom: 13%;
    opacity: 1;
}
.img_gal:hover .opis{
    bottom: 20%;
    opacity: 1;
}
.img_gal{
    
    position: relative;
}
.img_gal:hover::before{
opacity: 0.5;
    
}

.img_gal::before{
  width: 100%;
    font-size: 20px;
    color: aqua;
    opacity: 0;
    transition-duration: 300ms;
    content: '';
    height: 100%;
    background-color: hwb(232deg 58% 18%);
    
    position: absolute;
}
#pic_1{
        grid-row: 1/3;
}
#pic_3{
    grid-column: 3/5;
}
#pic_5{
    grid-row: 2/4;
    grid-column: 3;
}
#pic_7{
    grid-column: 1/3;
}
.container {
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.btn2 {
     width: 180px;
    position: relative;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #b1a1a1;
    outline: none;
    transition: 1s ease-in-out;
}

.svg_ind {
      position: absolute;
    left: -1px;
    top: -1px;
    fill: none;
    stroke: #ffffff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn2:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btn2:hover .svg_ind {
  stroke-dashoffset: -480;
}

.btn2 span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.btn-three {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
     line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}
.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1,1);
}
.box-3{
    height: 33.33%;
  width: 100%; 
    background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container4 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.animated-word {
      font-family: Helvetica;
    letter-spacing: 0.4em;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: #202125;
    cursor: pointer;
    max-width: 570px;
    width: 90%;
    outline: 3px solid;
    outline-color: rgba(71, 126, 232,0.5);
    outline-offset: 17px;
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);

}

.animated-word:hover {
  color: rgba(71, 126, 232, 0.7);
  outline-color: rgba(71, 126, 232, 0);
  outline-offset: 300px;
}
.div_gar{
   
}
.im_g{
    width: 100%;
    height: 100%;
}
.grop_pic{
   margin-top: 50px;
    width: 100%;
    grid-template-columns: repeat(4 , 25%);
    display: grid;
  
}
.div_it_pic{
    
    height: 300px;
    background-color: black;
    
    
}
.el_menu{
       
    
   
}
a{
     text-decoration: none;

    transition-duration: 1s;
}
body{
    margin: 0;
}
.sty{
    position: sticky;
    top: 20px;
}
.rel_pos_footer{
        position: relative;
    left: 184px;
    top: 16px;
}
.top_h{
      background-color: #131e56bf;
    position: fixed;
    height: 5em;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
}
#Head{
    position: sticky;
}
main{
    
       padding-top: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.fl_b{
        display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
}
.menu{
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
nav{
        padding-top: 1px;
    width: 100%;
    height: 49px;
        margin-left: 18px;
}
.plit > li + li{
    color: aqua;
    
}
a:visited{
    color: chartreuse;
}
a:active{
    color: black;
}
a:hover{
    color: blueviolet;
    font-size: 20px;
    
}
.logo, .menu{
    position: fixed;
}

.image{
    width: 200px;
    height: 200px;
    font-weight: bold;
}
.o_stat{
    
    float: left;
}
.logo{
    width: 5%;
}
h1,h2,h3,lable{
    font-family: 'Lato', sans-serif;
}
.menu>li{
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 2em;
    font-weight: bold;
}
li:nth-child(3){
    color: brown;
}
.podval{
        border: solid 1px blue;

}
.top_butt{
background-color: #c43eff;
    width: 73px;
    border-radius: 35px;
    height: 68px;
    padding-top: 2px;
    z-index: 20;
    position: fixed;
    right: 3%;
    bottom: 3%;
        transition-duration: 300ms;
      
}
iframe{
    width: 100% !important;
}
.video_hov{
    width: 50%;
    position: relative;
}
.video_hov::before{
 width: 80%;
    content: '';
    height: 58%;
    background-color: #000000eb;
    position: absolute;
    left: -27%;
    opacity: 0;
    bottom: 25%;
}
.header_video{
    position: absolute;
    left: -6%;
    opacity: 0;
    bottom: 50%;
    color: white;
    transition-duration: 500ms;
    font-family: Helv;
    font-size: 3em;
}
.video_hov:hover::before{
    opacity: 1;
    transition-duration: 300ms;
    left: -17%;
}
.video_hov:hover .header_video{
    left: 4%;
    opacity: 1;
}
.video_hov:hover .opis_video{
    left: 4%;
    opacity: 1;
}
.opis_video{
    transition-duration: 500ms;
     position: absolute;
    left: -6%;
    opacity: 0;
    bottom: 34%;
    width: 55%;
    color: white;
    font-family: Helv;
    font-size: 1em;
}
 .top_butt:hover{
       width: 30%;
    height: 253px;
    }
.top_butt:hover .img_mas{
        width: 14%;
    padding-bottom: 5px;
}
.top_butt:hover .p_hed_mes{
    font-size: 22px;
    opacity: 1;
}
.top_butt:hover .list_mas{
     width: 100%;
    opacity: 1;
}
.list_not{
    list-style-type: none;
    font-size: 20px;
    margin-top: 9px;
    width: 89%;
}
.list_mas{
    background-color: #d885fd;
    width: 0px;
    padding-top: 4px;
    transition-duration: 300ms;
    opacity: 0;
    padding-bottom: 2px;
    border-radius: 0px 0px 33px 33px;
}
.top_butt::before{
   content: '4';
    text-align: center;
    width: 20px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    height: 20px;
    right: 0;
    background-color: red;
    position: absolute;
    border-radius: 205px;
    
}
form{
    display: flex;
    flex-direction: column;
}
.pole_t{
    margin-top: 2%;
    margin-bottom: 6%;
    width: 100%;
    border-radius: 8px;
    height: 3em;
    background-color: #4e568066;
    border-width: 0px;
    padding-left: 3%;
    transition-duration: 500ms;
}
.pole_t:focus{
      background-color: #70a2fd99;
}
.p_hed_mes{
    transition-duration: 400ms;
    font-size: 0px;
    opacity: 0;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    color: #ffffff;

}
.p_mas{
           margin-top: 8px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
}
.but_tex{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 24px;
    margin: 0;
    margin-top: 16px;
}
.li_mas{
        border-bottom: 1px solid black;    
    width: 73%;
    

}
.float_b{
        width: 57%;
}
.file_i{
    margin-top: 3%;
    margin-bottom: 7%;
}
.check_box{
        margin-bottom: 6%;
}
fieldset{
    border-radius: 17px;
    border-color: aqua;
    margin-bottom: 7%;
}
.date_v{
    margin-top: 2%;
    margin-bottom: 10%;
}
.submit_f{
    width: 100%;
    height: 38px;
    border-radius: 11px;
    background-color: #67c0e3;
    transition-duration: 1s;
}
.submit_f:hover{
    background-color: #028bc1;
}
iframe{
        width: 50%;
    height: 385px;
}
textarea::placeholder{
    font-family: 'Lato', sans-serif;
    color: #325f87;
    padding: 5px;
    font-size: 14px;
}
.lists{
    
}
.div_a{
       background-color: red;
    border-radius: 2%;
    display: flex;
        flex-direction: column;
z-index: 0;
    
}
.text_A{
   text-align: center;
    font-size: 2em;
        font-family: 'Lato', sans-serif;
}
.group_div_B_E{
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 238px;
    justify-content: center;
}
.div_b{
   
    background-color: aqua;
}
.div_e{

    background-color: green;
}
.text_b{
        font-size: 2em;
}
.text_e{
        font-size: 2em;
}


/******************** About Us  **************************/

@keyframes transform_anim1 {
  from {
        transform: translateY(0);
  }

  to {
        transform: translateY(121px);
  }
}
@keyframes transform_anim2 {
  from {
        transform: translateY(0);
  }

  to {
        transform: translateY(-100%);
  }
}
.card_three{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 542px;
    position: relative;

}
.card{
         width: 100%;
    background-color: #b2b0b021;
    border-radius: 23px;
    backdrop-filter: blur(11px);
    transition-duration: 200ms;
    height: auto;
    padding-bottom: 23px;
    padding-top: 16px;
     
}
.h_card{
        color: white;
}
.descrip{
    font-family: 'Lato', sans-serif;
    color: white;
}

.b_card{
   width: 36%;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    padding-top: 8px;
    border-width: 0;
    padding-bottom: 8px;

}
.bg{
        background-color: #5a5c5d;
    padding-top: 131px;
}
.colub_text{
    width: 78%;
    margin: auto;
    padding-bottom: 12px;
}

.back_card{
    
        width: 19%;
    border-radius: 23px;
     transform: skewX(17deg);
        height: 30em;
    background: linear-gradient(to bottom right,#ff00ed 16%, #00cbff);
    transition: 400ms;
    position: absolute;
    z-index: -1;

}
.card_elem:hover .back_card{
     transform: skewX(0deg);
}
.back_card::before{
    content: '';
       
        width: 100%;
    border-radius: 23px;
        height: 30em;
    background: linear-gradient(to bottom right,#ff00ed 16%, #00cbff);
    position: absolute;
    z-index: -2;
    filter: blur(10px);
}
.card_elem{
     
    
     width: calc(87% / 3);
    display: flex;
        height: 30em;
    justify-content: space-around;
    align-items: center;
}
.card_elem:hover .card::before{
    display: block;
}
.card_elem:hover .card::after{
    display: block;
}
.card_elem:hover .card{
    padding-bottom: 52px;
    padding-top: 52px;
}
.grad_1{
    background: linear-gradient(to bottom right,#ff115c 16%, #d8ff00) !important;
    
}
.grad_1::before{
    background: linear-gradient(to bottom right,#ff115c 16%, #d8ff00) !important;
}
.grad_2{
   background: linear-gradient(to bottom right,#00d3ff 16%, #1dff46); !important;
    
}
.grad_2::before{
    background: linear-gradient(to bottom right,#00d3ff 16%, #1dff46); !important;
}
.card::before{
    content: '';
    position: absolute;
    display: none;

    height: 43%;
    width: 30%;
        left: 68px;
    border-radius: 23px;
    top: -217px;
    filter: drop-shadow(2px 4px 8px black);
    background-color: #b2b0b054;
    backdrop-filter: blur(11px);
    animation-name: transform_anim1;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode:forwards;
    
}
.card::after{
    content: '';
    position: absolute;
    height: 43%;
    right: 17.1%;
       display: none;
    width: 30%;
    bottom: -75%;
    border-radius: 23px;
    filter: drop-shadow(2px 4px 8px black);
    background-color: #b2b0b054;
    backdrop-filter: blur(11px);
  animation-name: transform_anim2;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode:forwards;
    
}
/****** social com **********/
.social_com{
        display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
}
.icon_com{
     width: 6%;
    height: 78px;
    background-color: rgba(178, 176, 176, 0.13);
    display: flex;
    backdrop-filter: blur(11px);
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    filter: drop-shadow(2px 4px 6px black);
    border-radius: 54px;
}
.icon_com:hover::before{
    top: -1px;
}
.icon_com::before{
   content: '';
    position: absolute;
    width: 200%;
    z-index: -1;
    transition-duration: 400ms;
    top: -1px;
    height: 81px;
    background: linear-gradient(to bottom right,#d8ff00 16%,#ff115c );
   top: -81px;
    
}
.icon_el{
      width: 52px;
    height: 57px;
    padding-top: 11px;
}
/****************** Form ******************/
.f_block{
    width: 60%;
    padding-top: 132px;
    margin: auto;
    padding-top: 40px;
}
.d_form{
        width: 30%;
    height: 300px;
    margin: auto;
    background-color: #b2b0b021;
    border-radius: 23px;
    backdrop-filter: blur(11px);
}
.d_form::after{
        position: absolute;
    content: '';
    height: 23%;
    top: -109px;
    filter: drop-shadow(2px 4px 8px black);
    left: 23%;
    width: 18%;
    border-radius: 23px;
    background-color: #b2b0b054;
    backdrop-filter: blur(11px);
    animation-name: tranf3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.d_form::before{
      position: absolute;
    content: '';
    height: 23%;
    top: 366px;
    filter: drop-shadow(2px 4px 8px black);
    left: 54%;
    width: 18%;
    border-radius: 23px;
    background-color: #b2b0b054;
    backdrop-filter: blur(11px);
   animation-name: tranf4;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes tranf3 {
    from{
            transform: translateY(0px);
    }
    to{
         transform: translateY(60px);
    }
}
@keyframes tranf4{
    from{
            transform: translateY(0px);
    }
    to{
        transform: translateY(-87px);
    }
}
.name{
       border-radius: 27px;
    border-width: 0;
    padding-left: 16px;
    color: white;
    background-color: #b4b4b4b8;
    font-family: 'Lato', sans-serif;
    height: 33px;
    margin-bottom: 15px;

}
.pass{
    border-radius: 27px;
    border-width: 0;
    padding-left: 16px;
    color: white;
     background-color: #b4b4b4b8;
    font-family: 'Lato', sans-serif;
    height: 33px;
    margin-bottom: 15px;

    
}
.sub_m{
    color: gray;
    border-radius: 28px;
    font-weight: bolder;
    border-width: 0;
    height: 35px;
        font-size: 1em;
    width: 46%;
}
::-webkit-input-placeholder { 
   color:    white;
}
.lable_f{
    color: white;
    border-bottom: solid;
    font-weight: bold;
    width: 63px;
    font-size: 1.5em;
    padding-bottom: 7px;
}
.kvadr_of{
    position: absolute;
    height: 33%;
    right: 64%;
    top: 52%;
    width: 7%;
    z-index: 2;
    border-radius: 23px;
    filter: drop-shadow(2px 4px 8px black);
    background-color: #b2b0b054;
    backdrop-filter: blur(11px);
}
.kvadr_of::after{
      position: absolute;
    content: '';
    height: 72%;
    top: -144px;
    right: -440px;
    width: 84%;
    border-radius: 23px;
    
    background-color: #b2b0b054;
    backdrop-filter: blur(11px);
}
.form_div{
    position: relative;
        margin-top: 109px;
        margin-bottom: 145px;
}
.h2_zag{
    font-size: 4em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    z-index: 1;
    font-weight: bold;
    margin-top: 26px;
        color: white;
}
.opis_card_ancet{
    margin: auto;
    font-family: 'Lato', sans-serif;
    margin-top: 158px;
    text-align: center;
    color: gray;
    width: 285px;
}
.card_ancet{
          width: calc(85% / 3);
    display: flex;
    background-color: white;
    border-radius: 34px;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition-duration: 1s;
     cursor: pointer;
    pointer-events: auto; 
    position: relative;

}
.bg_before_anc1::before{
    background-color: #30da22 !important;
}
.bg_before_anc3::before{
  background-color: #6303a6 !important;
}
.bg_bot_anc_1{
     background-color: #30da22 !important;
}
.bg_bot_anc_3{
     background-color: #6303a6 !important;
}
.card_ancet::before{
     content: '';
    width: 112%;
    top: -303px;
    height: 100%;
    background-color: #da2268;
    position: absolute;
    border-radius: 237px;
}
.b_card_ancet{
          width: 31%;
    font-family: 'Lato', sans-serif;
    background-color: #da2268;
    margin-top: 23px;
    border-radius: 16px;
    font-size: 1em;
    color: white;
    height: 40px;
    margin-bottom: 42px;
    border-width: 0;
}


.card_three:hover > .card_ancet:not(:hover){
  filter: blur(25px);
}

.card_ancet:hover{
   transform: scale(1.08);
}
.par_ev{
      pointer-events: none; 
}
/*************** Poster ********************/
.card_three_opac{
        display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 432px;
    position: relative;
    pointer-events: none;

}
.card_poster{
          width: 97%;
    margin: auto;
    margin-top: 3px;
    height: 421px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background: linear-gradient(to right,#4b1b66 50%, #140027 50%);
    align-items: center;
    transition-duration: 1s;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.block_text_poste{
  display: flex;
    flex-direction: column;
    margin-top: 120px;
    align-items: center;
        z-index: 1;
  
}
.block_text_poste::before{
   content: '02';
    position: absolute;
    font-size: 6em;
    font-family: 'Lato', sans-serif;
    color: #183b5b;
    font-weight: bold;
    z-index: -1;
     transition-duration: 700ms;
    right: 18%;
   top: 30%;
    
}
.card_poster:hover .block_text_poste::before{
    top: 7%;
    
        color: #138eff;
}
.h_el_poster{
        text-align: center;
    color: white;
        margin-bottom: 0px;
}
.opis_poster{
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
}
.b_poster{
        width: 33%;
    padding-top: 9px;
    padding-bottom: 9px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: #140027;
}
.card_bord:hover::before{
   opacity: 1;
}
.card_bord:hover::after{
   opacity: 1;
}
.card_bord::before{
     content: '';
    opacity: 0;
    position: absolute;
    width: 200px;
    transition-duration: 400ms;
    left: -121px;
    height: 300px;
    background-color: #1430f2;
    filter: blur(24px);
    top: -207px;
    animation: ratet;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
.card_bord::after{
     content: '';
    position: absolute;
    opacity: 0;
    width: 200px;
    transition-duration: 400ms;
    right: -121px;
    height: 300px;
    background-color: #1430f2;
    filter: blur(24px);
        bottom: -207px;
    animation: ratet;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
@keyframes ratet {
    from{
       transform: rotate(0deg); 
            
    }
    to{
        transform: rotate(360deg);
        
    }
    
}
.card_bord{
        width: calc(90% / 3);
position: relative;
    overflow: hidden;
    pointer-events: auto;
    opacity: 1;
    transition-duration: 400ms;
    background-color: black;
}
.card_three_opac:hover > .card_bord:not(:hover){
  opacity: 0.5;
}
/************ CONTENTS ************/
@media(max-width:1000px){
    .text_ar{
        grid-column: inherit !important;
    }
    .grid_form{
        grid-template-columns: 1fr!important;
    }
    .slidebar{
    
        grid-row: 3 !important;
        }
    .main{
        grid-column: 2/4 !important;
    }
    .footer{
        grid-column: 2/4 !important;
        grid-template-columns: 1fr 1fr !important;
    }
    .ads{
            grid-row: 4 !important;
        grid-column-start:1 !important;
    }
    .navigation{
        grid-column: 1/4 !important;
    }
}
@media(max-width:768px){
    .grid_content{
        grid-template-columns: 1fr !important;
    }
    .header{
        grid-column:inherit !important;
    }
    .slidebar{
    
        grid-row: inherit !important;
        }
    .main{
        grid-column: inherit !important;
    }
    .footer{
        grid-column: inherit !important;
        grid-template-columns: 1fr !important;
    }
    .ads{
            grid-row: inherit !important;
        grid-column-start:inherit!important;
    }
    .navigation{
        grid-column: inherit !important;
    }
    
    
}

.grid_content{
    display: grid;
    grid-template-columns: 25% 1fr 25%;
}
.header{
        padding: 15px;
    border: 2px solid black;
    grid-column: 1/4;
    
}
.slidebar{
     padding: 15px;
    border: 2px solid black;
    grid-row: 2/4;
}
.main{
         padding: 15px;
    border: 2px solid black;
}
.footer{
     padding: 15px;
    display: grid;
    border: 2px solid black;
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.ads{
      padding: 15px;
    border: 2px solid black;
    grid-row: 2/4;
    grid-column-start: 3;
}
.navigation{
    padding: 15px;
    border: 2px solid black;
}
.grid_form{
        display: grid !important;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 6px;
}
.text_ar{
        grid-column: 1 / 3;
}
.inp_con{
       height: 30px;
    border: 0;
        padding-left: 10px;
    background-color: #909dfd;
    border-bottom: 2px solid #000000;
    transition-duration: 300ms;
    color: white;
}
.inp_con:focus{
   background-color: #00c4d0;
    border-color: aqua;
    box-shadow: inset 0px -3px 6px 0px white;
}
.inp_con:hover{
   background-color: #00c4d0;
    border-color: aqua;
    box-shadow: inset 0px -3px 6px 0px white;
}
.sub_con{
    height: 30px;
    background-color: #31a4e6;
    color: white;
}
.about_con{
    
}
.ab_con{
    
}
.quick_links{
    
}
.shop{
    
}
.contacts{
    
}
.h_footer{
    color: #545454;
    margin-bottom: 0;
}
.h_h2_footer{
        margin: 0;
    width: 17%;
}
.spisok_fot{
    list-style-type: none;
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
}
.li_spisok_fot{
        margin-top: 6px;
}
#like{
     background-color: white;
    display: flex;
    width: 113px;   
        height: 20px;
}

#text{
    margin-top: 0;
}
.img_cl{
 z-index: -20;
    position: absolute !important;
} 
.b_div{
    width: 100px;
    height: 20px;
    margin: 10px;
    background-color: green;
}
.del{
    background-color: red;
}
.mas{
    width: 200px;
    margin: 10px;
    background-color: #9393ed;
    border-radius: 164px;
    text-align: center;

}
.ofor{
        width: 200px;
    height: 30px;
    background-color: blueviolet;
    border-radius: 100px;
    padding-top: 9px;
}
.of-i{
    margin-left: 20px;
    color: red;
    font-size: 18px;
}
.contain{
    width: 600px;
    margin: auto;
    height: 600px;
    background-color: aquamarine;
    border-radius: 20px;
}
.div_main_img{
        width: 100%;
    height: 450px;
    background: url(love.jpg);
     background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.litle_img_con{
        width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;

}
.img_elem{
        width: 20%;
        height: 24%;
    background-color: antiquewhite;
}
.one_im{
    background: url(love.jpg);
    background-position: center;
}
.two_im{
     background: url(lo.jpg);
    background-position: center;
}
.three_im{
     background: url(icon/telegram-739260.png);
    background-position: center;
}
.four_im{
      background: url(golub.jpg);
    background-position: center;
}
.red{
    background-color: red;
}
.pol{
        width: 15px;
    height: 26px;
    border-radius: 5px;
    background-color: black;
    position: relative;
    top: -6px;
    left: 25px;

}
.slider{
    width: 300px;
    height: 15px;
    background-color: #c7c1c1;
    border-radius: 21px;
}
.basket{
        width: 200px;
    height: 200px;
    background-color: aqua;
}